/* MOBILE */

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  top: 0;
  justify-content: center;
  border-bottom: 1px solid #2D4659;
}


.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.projects{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}



.project{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
  background-color: #F0F0F0;
  background-size: contain;
  border-radius: 15px;
  border: 1px solid #2d46592c;
  padding: 20px 20px 20px 40px;
  margin: 20px 0;
  box-shadow: 0 25px 50px #0001;
  text-align: left;
  transition: .3s;
  animation: fadeUp 1s 1;
}
.App {
  text-align: center;
}

.project-header{
  list-style: none;
}

.tags{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@keyframes fadeUp {
  0%{
  opacity: 0;
  transform: translateY(40px);
  }
  to {
    transform: translate(0);
    opacity: 1
}
}

.project-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 0;
  overflow: hidden;
}

.project-tags{
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: inherit;
  flex-wrap: wrap;
}

.project-tags li{
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
  background-color: #F0F0F0;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #2d46592d;
  font-size: 10px;
}

.contact-module{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: #F0F0F0;
  background-size: contain;
  border-radius: 15px;
  border: 1px solid #2d46592c;
  padding: 20px 0;
  margin: 20px 0 50px;
  box-shadow: 0 25px 50px #00000020;
  text-align: left;
  transition: .3s;
  animation: fadeUp 1s 1;
  justify-content: center;
  animation: fadeUp 1.5s 1;
}

.contact-header{
  animation: fadeUp 1s 1;
}

.info{
  text-align: left;
}

.info h1{
  text-align: center;
}


.contact-image{
  width: 64px;
  height: 64px;
  align-self: center;
  margin-right: 1rem;
}

.project-icon{
  width: 128px;
  height: 128px;
  align-self: center;
  margin-right: 1rem;
}



.App-header{
  display: flex;
  flex-direction: column;
  animation: fadeUp 1s 1;
}

.personal-img{
  border-radius: 20px;
  margin: 20px;
}

.skills{
  display: none;
}

.project-header-images{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  
}


.project-description li{
  list-style: none;
}

.info{
  padding: 20px;
}

.project-header{
  animation: fadeUp 1s 1;
  
}

.project-image{
  width: 128px;
  margin: 10px;
}

.body-project-image{
  width: 100%;
  border-radius: 10px;
  margin: 2px;
  image-rendering: crisp-edges;
  border-radius: 20px;
  margin: 20px;

}

.project-description{
  animation: fadeUp 1s 1;
}

.contact-link{
  display: flex;
  flex-direction: column;
  margin: 8px;
}

.project-video-snake{
  width: 70%;
}

.project-info-images{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.projectbox-info{
  text-align: left;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.skills li{
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
  background-color: #F0F0F0;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #2d46592d;
  font-size: 10px;
  font-weight: bold;
}

.tags{
  display: none;
}

.tags li{
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
  background-color: #F0F0F0;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #2d46592d;
  font-size: 12px;
  font-weight: bold;
}

.website-project-image{
  width:100%;
  padding: 10px;
}

.project-subheader{
  display: none;
}

.kickochet-demo{
  display: none;
}

/* TABLET */
@media only screen and (min-width: 768px){
  main{
    width: 75%;
  }
  .personal-img{
    width: 65%;
    align-self: center;
  }

  .project-image{
    width: 50%;
  }

  .tags{
    display: flex;
  }
}

/* kickochetdemo display */
@media only screen and (min-width: 1150px){
  .kickochet-demo{
    display: inline;
  }
}

/* PC */
@media only screen and (min-width: 1366px){
  main{
    width: 60%;
  }

  .App-header {
    flex-direction: row;
  }

  .personal-img{
    width: 35%;
  }

  .skills ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-top: 15px;
    text-align: center;
  }

  .skills{
    width: 340px;
    position: relative;
    display: flex;
  }

  .project {
    width: 40%;
    margin: 20px;
  }

  .project-subheader{
    display: block;
  }

  .project-image{
    width: 20%;
  }

  .body-project-image{
    width: 40%;
  }
}
